{{#each off}}
<section>
    <h2>{{name}}</h2>
    <a href="https://www.off---white.com/{{link}}"><img src="{{image}}"></a>
    <p class="category">{{category}}</p>
    <p>{{price}}</p>
    <hr>
</section>
{{/each}}