{{#each off}}
<div class="item">
    <h2>{{name}}</h2>
    <button class="delete" data-id="{{_id}}">Delete</button>
    <a href="/articles/{{_id}}"><img src="{{image}}"></a>
    <p class="category">{{category}}</p>
    <p>{{price}}</p>
    <a href="https://www.off---white.com/{{link}}"><p class="link">Link</p></a>
    <hr>
</div>
{{/each}}
