
    <button id="test">Scrape new Items</button>


{{#each off}}
<div class="item">
    <h2>{{name}}</h2>
    <a href="/articles/{{_id}}"><img src="{{image}}"></a>
    <button class="delete" data-id="{{_id}}">Delete</button>
    <strong><p class="price">{{price}}</p></strong>
    <a href="https://www.off---white.com/{{link}}"><p class="link">Link</p></a>
    <hr>
</div>
{{/each}}